
body{

font-family:Poppins;
text-align:center;

background-image:url("https://images.unsplash.com/photo-1580582932707-520aed937b7b");
background-size:cover;
background-position:center;

color:white;

}

header{

background:rgba(0,0,0,0.7);
padding:20px;
font-size:32px;

}

.home-buttons{

margin-top:50px;

}

button{

padding:12px 30px;
margin:10px;

font-size:18px;

border:none;

border-radius:10px;

background:#ff9800;
color:white;

cursor:pointer;

}

button:hover{

background:#e68900;

}

.page{

display:none;

margin-top:30px;

}

input,select,textarea{

display:block;

margin:10px auto;

padding:10px;

width:260px;

border-radius:6px;

border:none;

}

textarea{

height:80px;

}

#classroomLayout{

display:grid;

grid-template-columns:repeat(3,1fr);

gap:40px;

padding:50px;

}

/* BENCH DESIGN */

.bench{

background:#c79a63;

width:300px;

padding:20px;

border-radius:12px;

margin:auto;

box-shadow:0 8px 20px rgba(0,0,0,0.4);

}

.bench-title{

font-weight:bold;

margin-bottom:10px;

color:black;

}

.desk{

display:flex;

justify-content:space-between;

}

.seat{

background:white;

width:120px;

padding:12px;

border-radius:8px;

font-weight:bold;

color:black;

box-shadow:0 2px 6px rgba(0,0,0,0.3);

}

.highlight{

background:red;

color:white;

}